n8n/saas-provisioning-workflow-fixed.json
{
  "name": "SAOS Client Provisioning Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "saos-provision",
        "responseMode": "responseNode"
      },
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "saos-provision"
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json.body;\n\nif (event.type !== 'checkout.session.completed') {\n  return [{json: {status: 'ignored', reason: 'not checkout complete'}}];\n}\n\nconst session = event.data.object;\nconst metadata = session.metadata || {};\n\nreturn [{\n  json: {\n    customer_email: session.customer_email || session.customer_details?.email,\n    customer_name: session.customer_details?.name || 'Unknown',\n    stripe_subscription_id: session.subscription,\n    stripe_customer_id: session.customer,\n    tier: metadata.tier || 'business',\n    deployment_type: metadata.deployment || 'private',\n    amount_paid: session.amount_total\n  }\n}];"
      },
      "name": "Extract Payment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO saos_clients (stripe_subscription_id, stripe_customer_id, customer_email, customer_name, tier, deployment_type, vps_status) VALUES ($1, $2, $3, $4, $5, $6, 'pending') ON CONFLICT (stripe_subscription_id) DO UPDATE SET customer_email = EXCLUDED.customer_email, customer_name = EXCLUDED.customer_name RETURNING id;",
        "options": {
          "queryParams": [
            "={{ $json.stripe_subscription_id }}",
            "={{ $json.stripe_customer_id }}",
            "={{ $json.customer_email }}",
            "={{ $json.customer_name }}",
            "={{ $json.tier }}",
            "={{ $json.deployment_type }}"
          ]
        }
      },
      "name": "Create Client Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "iVuy7e5WTC05Hqwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const clientId = $input.first().json[0]?.id || 1;\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    task_type: 'DEPLOY',\n    payload: {\n      goal: 'Provision SAOS Business Fleet for new client',\n      client_id: clientId,\n      customer_email: data.customer_email,\n      customer_name: data.customer_name,\n      tier: data.tier,\n      deployment_type: data.deployment_type\n    }\n  }\n}];"
      },
      "name": "Build Task Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO task_queue (task_type, payload_json, assigned_agent, priority, max_retries) VALUES ($1, $2, 'ASSEMBLY', 9, 5) RETURNING id;",
        "options": {
          "queryParams": [
            "={{ $json.task_type }}",
            "={{ JSON.stringify($json.payload) }}"
          ]
        }
      },
      "name": "Queue Provisioning Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "iVuy7e5WTC05Hqwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const taskId = $input.first().json[0]?.id;\nreturn [{\n  json: {\n    status: 'success',\n    message: 'Client provisioned queued',\n    task_id: taskId\n  }\n}];"
      },
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Extract Payment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payment Data": {
      "main": [
        [
          {
            "node": "Create Client Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client Record": {
      "main": [
        [
          {
            "node": "Build Task Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Task Payload": {
      "main": [
        [
          {
            "node": "Queue Provisioning Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Provisioning Task": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "saos",
    "provisioning",
    "stripe"
  ],
  "id": "8567a376-834f-4794-9b4b-46a7b57cc34e"
}